<!doctype HTML>
<html>
<head></head>
<body>
  <center>
    <img src="./dancing_skeleton.gif" />
    <h1>WELCOME TO ROCK PAPER SCISSORS</h1>

    <p>Your MOVE...</p>
    <p>Will it be...</p>
    <p>
    <a href="rps/rock">ROCK?</a><br />
    or<br />
    <a href="rps/paper">PAPER?</a><br />
    or<br />
    <a href="rps/scissors">SCISSORS?</a>
    </p>
  </center>
</body>
</html>