<!doctype HTML>
<html>
<head></head>
<body>
  <h1>WELCOME TO ROCK PAPER SCISSORS</h1>

  <p>Your MOVE : <%= @game.players_move %></p>
  <p>Computer MOVE : <%= @game.computer_play %></p>

  <p> The Winner is: <%= @result %></p>
</body>
</html>